* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.backgorund {
    background-image: url(../image/imagem4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}

input {
    display: block;
    width: 300px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
}

@media only screen and (max-width: 350px) {
    input {
        width: 200px;
    }
}

input.email {
    background-image: url(../icon/icone-usuario.png);
}

input.password {
    background-image: url(../icon/icone-cadeado.png);
}

input.telefone {
    background-image: url(../icon/icone-phone.png);
}

input.pessoa {
    background-image: url(../icon/icone-pessoa.png);
}

input.email,
input.password {
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #757575;    
}

input.telefone {
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px;
}

input.pessoa {
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 45px;
}

input[type=submit] {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}

input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #757575;
    transition: 0.6s;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 40px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover {
    text-decoration: underline;
}
